@charset "utf-8";
/* CSS Document */
.s1{
	width:100px;
	height:100px;
	background-color:red;
	float:left;
	opacity:1;
}.s2{
	width:100px;
	height:100px;
	background-color:green;
	float:left;
}
.s3{
	width:100px;
	height:100px;
	background-color:blue;
	float:left;
}
.s4{
	width:100px;
	height:100px;
	background-color:black;
	clear:both;
}
h1{
	float:left;
}

