@charset "utf-8";
/* CSS Document */
.s1{
	width:300px;
	height:400px;
	background-color:red;
	background-image:url(image1.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	/* 
	position  
	top left
	top center
	top right
	center left
	center center
	center right
	bottom left
	bottom center
	bottom right
	100px 200px
	*/
}

